/*just a simple style for the Ploomes CRM, still receiving updates...*/

.sc-dyTUbJ { /*TOP BAR*/}


 .hbox .no-comments-bubble,
.drag-button,
.data-edit
{   transition: transform 0.5s; }

.hbox .no-comments-bubble:hover,
.drag-button:hover,
 .data-edit:hover 
{   transform: scale(0.95);  }
   
.button-dry-background, /*INTERACTION RECORDS*/
.nowrap, /*I DON'T HAVE A CLUE WHAT IS THIS */
.active > a, /*TOP BAR: "RESUMO", "METAS"*/
.deal, /*CARD*/
.sc-gxYJeL,   /*MENU BUTTONS AND MORE*/
.fc-day-grid-event, /*CALENDAR TASK*/
.custom-marker > .button-fixed-size, /*MARKER ON THE MAP*/
.ds-logo-horizontal-wrapper  /*LOGO*/,
.button 

{ transition: transform 0.5s;}

.button-dry-background:hover,
.nowrap:hover,
.active > a:hover,
.fc-day-grid-event:hover,
.ds-logo-horizontal-wrapper:hover,
.button:hover

{ transform: scale(1.05);}


.custom-marker > .button-fixed-size:hover{    transform: scale(1.05);  background-color: green; }


 .sc-gxYJeL:hover {  transform: scale(1.15); }


   



.panel, .fc-day-grid-event {
  transition: transform 0.5s;
  transform-origin: center center; /* Set the transform origin to the center */
    text-align: center;
   	 box-shadow: 0px 0px 5px 0px #021d2d;


}

.panel:hover, .fc-day-grid-event:hover {
	  transform: scale(1.03);

 	 box-shadow: 0px 0px 20px 0px #021d2d;

}


 .font-big-title {
  color:  rgba(3,29,45,255);
   font-weight: bold;
   font-size: 32px;
   
}
 .font-big {
   
   text-align: center;
   font-size: 18px;
   
}
 .stage-wrapper .text-muted {
   
   text-align: center;
   
}


 .dynamic-cols-wrapper

{ /*DEALS BACKGROUND*/

}


#modules { /*SIDE MODULES BACKGROUND*/
	
}

.deal .text-muted { /*Days in stage*/
  
	color: rgba(3,29,45,255);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.deal {
    border-radius: 15px;
  	box-shadow: 0px 0px 20px 0px #021d2d;
  
}

.deal:hover {
  
     transform: scale(1.05);	
 	 box-shadow: 0px 0px 20px 0px #021d2d;

}


.action-content { /*DEAL TÉRMINO */
 background: rgb(3,29,45);
background: linear-gradient(0deg,   rgba(3,29,45,255)  6%, rgba(255,255,255,1) 54%);
	height: 10px;
  width: 10px;
  border-radius: 50px;
}


 
.wrapper .widget-header {
  
  background-color: rgb(3,29,45);
  height: 30px;
  color: white;

  
}


